@using ToyStore.ViewsModel;
@model IndexViewModel

@{
}

@if (Model != null)
{
    @foreach (Toys toy in Model.Toys)
    {
        @toy.toy_name <br>
        @toy.description <br>
        @toy.price <br>
        @* @toy.quantity <br>*@
    }
    @using (@Html.BeginForm("Create", "Order", new { }, FormMethod.Post))
    {
        <label for="quantity">Количество:</label>
        <input type="number" name="quantity" value=1 min="1" max="10">
    }
}else{
<p>empty</p>}
