@using ToyStore.ViewsModel;
@using ToyStore.Models;
 @model   List<SelectListItem>;

@if (Model != null)
{
    <div class="total">Общая сумма
        <div id="summa">0</div> 
    </div>
    @foreach (Toys cart in (List<Toys>)ViewBag.cart)
    {
        <div class="gridCart">

            <div class="grid-item-cart toy_name">
                @cart.toy_name <br />
                <div class="grid-item-cart desc">@cart.description</div>
                <div class="grid-item-cart price">@cart.price</div> 

            </div>
            <div class="grid-item-cart"> 
                <input type="number" name="quantity" value=1 min="1" max="10" class ="numberCart"> 

            </div>
            <div class="grid-item-cart newPrice">@cart.price</div> 


        </div>

        <p>@cart.toy_name</p>
    }
    
        <form method="post" asp-controller="Order" asp-action="SendEmail">
            <div id="order">
                <h3>Ваши данные</h3>
                @foreach (Toys cart_ in (List<Toys>)ViewBag.cart)
            {
                                <input type="text" name="toyId" value="@cart_.Id" hidden> <br>
                                <input type="text" name="toys" value="@cart_.toy_name" hidden> <br>

            }

                <p>ФИО <input type="text" name="name" value="@ViewBag.name"><br></p>
                <p>E-mail <input type="text" name="email" value="@ViewBag.email"><br></p>
                <p>Телефон<input type="text" name="phone" value ="@ViewBag.phone"><br></p>
                <h4>Адрес</h4> <br>
                <p>Город<input type="text" name ="city" value ="@ViewBag.city"><br></p>
                <p>Район<input type="text" name="area" value ="@ViewBag.area"><br></p>
                <p>Улица<input type="text" name="street" value ="@ViewBag.street"><br></p>
                <p>Дом<input type="text" name="house" value ="@ViewBag.house"><br></p>
                <p>Комментарии к заказу
                    <textarea id="comment" name="comment" rows="4" cols="50">
                    </textarea>

                </p>

                <input type="text" name="userId" value="@ViewBag.userId" hidden>
                <input type="text" name="quantity" id="quant" value="1" hidden>
            </div>
            <input  type="submit"  value="Оформить заказ"/>
        </form>
   


<form method="post" asp-controller="Order" asp-action="Index">

            <table>
                <tr>

                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                     
                        <td>
                            <label for="@item.Value">@item.Text</label>
                        </td>
                        <td>

                            <input id="@item.Value" type="checkbox" name="carts" value="@item.Value" checked="@item.Selected"/>
                        </td>

                    </tr>
                }
            </table>
            <input type="submit" value="удалить"/>

        </form>

   }
else
{
<p>empty</p>}


<style>
.gridCart{
  display: grid;
  grid-template-columns: 60vw 15vw auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item-cart {
 background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
}
.desc {
    font-size: 12px;
}
.price{
    font-size:12px;
}
.toy_name{    font-size: 25px;
}
#summa{
    grid-area:menu;
}
.total{text-align:right;}
</style>

<script>   
    const inputs = document.getElementsByClassName('numberCart');

    for(let i=0; i< inputs.length; i++){
    inputs[i].addEventListener('change', countPrice); // для инпута можно вызвать слушатель "change", функция будет срабатывать каждый раз при изменении.
    inputs[i].addEventListener('change', totalSum);
    inputs[i].addEventListener('change', getNumber); 
    }
            function getNumber(event){
                  var  value =event.target.value;
                  document.getElementById("quant").value = value;
                }
    
  let previous_value=1;

function countPrice(event){
          var  value =event.target.value;
          if (previous_value >= value) {
            const divOfPrice = event.target.parentElement.nextElementSibling; //с помощью parentElement обратились к диву, в котором находится инпут, а с помощью nextElementSibling перешли на следующий див.
            divOfPrice.innerText =  Number(divOfPrice.innerText)/Number(previous_value); //все value приходят изначально в виде строчки, поэтому мы преобразовываем их в number, чтобы проблем с умножением точно не было.
          } 

          if (previous_value < value) {
            const divOfPrice = event.target.parentElement.nextElementSibling; 
            divOfPrice.innerText =  Number(divOfPrice.innerText)*Number(event.target.value);
          }
             previous_value = value;

};

document.addEventListener("DOMContentLoaded", function(){
totalSum();

});
function totalSum(){
    let sum=0;
    var total= document.getElementsByClassName("newPrice");
      for (var i=0; i < total.length; i++) {
          sum= sum+Number(total[i].innerHTML);
          document.getElementById('summa').innerHTML =sum;
                }
}
</script>