@model IEnumerable<ToyStore.Models.Toys>
@{
}

<table>
    <thead>
        <tr>
            <th>Пользователь</th>
        <th>@Html.DisplayNameFor(m=>m.description)</th>
        <th>@Html.DisplayNameFor(m=>m.toy_name)</th>
        <th>@Html.DisplayNameFor(m=>m.price)</th>
    </tr>
    </thead>
      <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @foreach(var user in item.users){
                            @foreach (var categ in user.toys)
                            {
                        <td>@Html.DisplayFor(modelItem => user.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.description)</td>
                        <td>@Html.DisplayFor(modelItem => item.toy_name)</td>
                        <td>@Html.DisplayFor(modelItem => item.price)</td>
                        }
                        }
                       
                    </tr>
                }
            </tbody>
   
    



</table>
@ViewBag.toys